@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color: #def1ff;
}

#content {
    margin-left: 20px;
    background-color: #fff;
    display: flex;
    background-color: #def1ff;
}

#services-list {
    width: 45%; 
    margin-left: 20px;
    font-family: "Libre Baskerville", Georgia, serif;
    font-size:1em;
}

#services-description {
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size:0.9em;
}

#services-description img {
    max-width: 55%;
    margin-right: 50px;
}

h2 {
    color: #333;
    font-size: 1.3em;
    font-family: "Libre Baskerville", Georgia, serif;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-bottom: 5px;
    font-weight: 600;
}

#textoalt{
    text-align: justify;
    margin-right: 20px;
}

#services-list ul {
    margin: 20px 0;
}

#services-list li::marker {
    color: #0e457d;
}

#services-list li {
    margin-bottom: 10px;
}

#learn-more-link {
    display: inline-block;
}

#learn-more-link img {
    max-width: 60%;
}


